{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>111</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header" id="header">
        <div><a class="p_bold header__icon">DEV</a></div>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--current">
                    <a class="p nav__link" href="#works">Работы</a>
                </li>
                <li class="nav__item">
                    <a class="p nav__link" href="#about">Обо мне</a>
                </li>
                <li class="nav__item">
                    <a class="p nav__link" href="#services">Услуги</a>
                </li>
                <li class="nav__item">
                    <a class="p nav__link" href="#cost">Цены</a>
                </li>
                <li class="nav__item">
                    <a class="p nav__link" href="#faq">FAQ</a>
                </li>
                <li class="nav__item">
                    <a class="p nav__link" href="#application">Связаться</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="introduction">
            <div class="h1 introduction__title">Сайты на Тильде, которые убеждают и продают</div>
            <div class="p introduction__content">Изучаем ваш бизнес. Узнаем, что важно клиентам, как вызвать доверие и
                довести до заявки или покупки</div>
            <div class="introduction__buttons buttons-introduction">
                <button class="button button_black p_bold buttons-introduction__button" id="button__telegram"
                    onclick="window.location.href='https://t.me/callmeentris';">
                    Связаться в Telegram
                </button>
                <button class="button button_white p_bold buttons-introduction__button" id="button__video"
                    onclick="window.location.href='https://yandex.ru/video/search?from=tabbar&text=Видеопортфолио';">
                    &#9655; Видеопортфолио
                </button>
            </div>
        </section>
        <section class="works" id="works">
            <nav class="works__nav nav-works">
                <button class="p nav-works__button nav-works__button--active" data-filter="all">Все</button>
                <button class="p nav-works__button" data-filter="website">Сайт под ключ</button>
                <button class="p nav-works__button" data-filter="development">Разработка</button>
                <button class="p nav-works__button" data-filter="design">Дизайн</button>
            </nav>
            <div class="works__gallery gallery">
                <div class="gallery__block">
                    <img class="gallery__photo gallery__photo_big" src="{% static 'img/work1.png' %}" alt="website">
                </div>
                <div class="gallery__block">
                    <img class="gallery__photo gallery__photo_small" src="{% static 'img/work2.png' %}"
                        alt="development">
                    <img class="gallery__photo gallery__photo_small" src="{% static 'img/work3.png' %}" alt="design">
                </div>
                <div class="gallery__block">
                    <img class="gallery__photo gallery__photo_big" src="{% static 'img/work4.png' %}" alt="development">
                </div>
                <div class="gallery__block">
                    <img class=" gallery__photo gallery__photo_small" src="{% static 'img/work5.png' %}" alt="website">
                    <img class="gallery__photo gallery__photo_small" src="{% static 'img/work6.png' %}"
                        alt="development">
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <img class="about__image" src="{% static 'img/about.jpg' %} ">
            <div class="about__info info-about">
                <div class="h2 info-about__title">Designer & Developer</div>
                <div class="p info-about__content">
                    Меня зовут гигачад. За 3 года создания сайтов я основал свою студию, собрал людей, готовых к плотной
                    работе. <br> <br>Запустили лендинг и б2б продукт для UFC. Работали с ВШЭ и МИЭМом. Запустили
                    множество эвентовых проектов и брендинг. Готовы забирать в команду лучших, прокачивать их
                    компетенции, и взращивать русское айти комьюнити.
                </div>
                <div class="info-about__badges">
                    <div class="info-about__badge badge">
                        <div class="h4 badge__number">10+</div>
                        <div class="p badge__describtion">Сайтов запустил</div>
                    </div>
                    <div class="about__badge badge">
                        <h4 class="h4 badge__number">99%</h4>
                        <div class="p badge__describtion">Выполнено в срок</div>
                    </div>
                    <div class="about__badge badge">
                        <div class="h4 badge__number">0+</div>
                        <div class="p badge__describtion">Лет опыта</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services" id="services">
            <div class="h2 services__title">Услуги</div>
            <div class="services__blocks blocks-services">

                {% for i in posts %}
                <article class="services__block block-services">
                    <div class="p block-services__number">{{ forloop.counter}}</div>
                    <div class="h5 block-services__title">{{ i.title }}</div>
                    <div class=" p block-services__content">{{ i.describtion }}</div>
                    <hr>
                    <div class=" h4 block-services__cost">От {{ i.price }} ₽</div>
                </article>
                {% endfor %}

            </div>
        </section>
        <section class="cost" id="cost">
            <div class="h2 cost__title">Подсчет стоимости</div>
            <div class="cost__options options-cost">
                <select class="p options-cost__select" id="select__work-type" size="1">
                    <option class="p" value="s1" selected disabled>Тип работы</option>
                    <option class="p" value="s2">Сайт на тильде</option>
                    <option class="p" value="s3">Веб-дизайн</option>
                </select>
                <select disabled class="p options-cost__select" id="select__work-size" size="1">
                    <option class="p" value="s1" selected disabled>Насколько большой проект?</option>
                    <option class="p" value="s2">Маленький</option>
                    <option class="p" value="s3">Большой</option>
                </select>
                <div class="options-cost__checkbox">
                    <input class="checkbox" type="checkbox">
                    <div class="p">Да, я слышал про осеннюю школу.<br>Интересно а после нее будет егэ?</div>
                </div>
                <button class="button button_white p_bold options-cost__button" type="submit">Рассчитать
                    стоимость</button>
            </div>
            <div class="cost__result cost__result--hidden result__cost">
                <div class="h3 result-cost__title">Примерный подсчет:</div>
                <div class="result-cost__badge">
                    <div class="p">Стоимость</div>
                    <div class="h5 result-cost__cost"></div>
                </div>
                <div class="result-cost__badge">
                    <div class="p">Примерные сроки</div>
                    <div class="h5 result-cost__duration"></div>
                </div>
                <button class="button button_black p_bold result-cost__button">Обсудить проект</button>
            </div>
        </section>
        <section class="faq" id="faq">
            <div class="h2 faq__title">Вопрос-ответ</div>


            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Делаете только дизайн?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Почему тильда?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Какие сроки?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Как происходит оплата?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Сколько правок можно внести?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="faq__block block-faq">
                <button class="block-faq__container">
                    <div class="h5 block-faq__title">Работаете со срочными проектами?</div>
                    <div class="h5 block-faq__sign">+</div>
                </button>
                <div class="p block-faq__content">
                    Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                    лендинги и даже небольшие интернет магазины.

                    <br><br>А еще:
                    <br>
                    <ul class="block-faq__list">
                        <li>
                            <div class="p">Не нужен программист, тильдой легко управлять</div>
                        </li>
                        <li>
                            <div class="p">Можно менять контент самому без помощи специалиста</div>
                        </li>
                        <li>
                            <div class="p">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</div>
                        </li>
                        <li>
                            <div class="p">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</div>
                        </li>
                        <li>
                            <div class="p">Адекватные цены тарифов</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="application" id="application">
            <div class="h2 application__title">Оставьте заявку</div>
            <div class="h5 application__description">Я сам напишу и сообщу все детали</div>
            <form class="application__block block-application" method="post">
                {% csrf_token %}

                {% if success %}
                <div class="alert">
                    <strong>Спасибо за заявку!</strong>
                </div>
                {% endif %}

                {% if form.name.errors %}
                <div class="alert">
                    <strong>{{form.name.errors}}</strong>
                </div>
                {% endif %}

                {% if form.email.errors %}
                <div class="alert">
                    <strong>{{form.email.errors}}</strong>
                </div>
                {% endif %}

                {% if form.commentary.errors %}
                <div class="alert">
                    <strong>{{form.commentary.errors}}</strong>
                </div>
                {% endif %}

                <div>
                    {{ form.name }}
                </div>

                <div>
                    {{ form.email }}
                </div>

                <div>
                    {{ form.service }}
                </div>

                <div>
                    {{ form.commentary }}
                </div>

                <div>
                    <button class="button button_black p_bold block-application__button" type="submit">Отправить заявку</button>
                </div>



                <!-- <input class="p block-application__field" type="text" placeholder="Имя">
                <input class="p block-application__field" type="email" placeholder="Почта">
                <select class="p block-application__select" size="1">
                    <option value="p s1" selected>Услуга</option>
                    <option value="p s2">Сайт на тильде</option>
                    <option value="p s3">Веб-дизайн</option>
                </select>
                <textarea class="p block-application__field" placeholder="Комментарий" rows="4"></textarea>
                <button class="button button_black p_bold block-application__button">Отправить сообщение</button> -->
            </form>
        </section>
    </main>
    <footer class="footer" id="footer">
        <div class="footer-buttons">
            <button class="footer-button" onclick="window.location.href='https://vk.com/vlad_entris';">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px" height="24px">
                    <path
                        d="M45.763,35.202c-1.797-3.234-6.426-7.12-8.337-8.811c-0.523-0.463-0.579-1.264-0.103-1.776 c3.647-3.919,6.564-8.422,7.568-11.143C45.334,12.27,44.417,11,43.125,11l-3.753,0c-1.237,0-1.961,0.444-2.306,1.151 c-3.031,6.211-5.631,8.899-7.451,10.47c-1.019,0.88-2.608,0.151-2.608-1.188c0-2.58,0-5.915,0-8.28 c0-1.147-0.938-2.075-2.095-2.075L18.056,11c-0.863,0-1.356,0.977-0.838,1.662l1.132,1.625c0.426,0.563,0.656,1.248,0.656,1.951 L19,23.556c0,1.273-1.543,1.895-2.459,1.003c-3.099-3.018-5.788-9.181-6.756-12.128C9.505,11.578,8.706,11.002,7.8,11l-3.697-0.009 c-1.387,0-2.401,1.315-2.024,2.639c3.378,11.857,10.309,23.137,22.661,24.36c1.217,0.12,2.267-0.86,2.267-2.073l0-3.846 c0-1.103,0.865-2.051,1.977-2.079c0.039-0.001,0.078-0.001,0.117-0.001c3.267,0,6.926,4.755,8.206,6.979 c0.368,0.64,1.056,1.03,1.8,1.03l4.973,0C45.531,38,46.462,36.461,45.763,35.202z" />
                </svg>
            </button>
            <button class="footer-button" onclick="window.location.href='https://t.me/callmeentris';">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px" height="24px">
                    <path
                        d="M5.83,23.616c12.568-5.529,28.832-12.27,31.077-13.203c5.889-2.442,7.696-1.974,6.795,3.434 c-0.647,3.887-2.514,16.756-4.002,24.766c-0.883,4.75-2.864,5.313-5.979,3.258c-1.498-0.989-9.059-5.989-10.7-7.163 c-1.498-1.07-3.564-2.357-0.973-4.892c0.922-0.903,6.966-6.674,11.675-11.166c0.617-0.59-0.158-1.559-0.87-1.086 c-6.347,4.209-15.147,10.051-16.267,10.812c-1.692,1.149-3.317,1.676-6.234,0.838c-2.204-0.633-4.357-1.388-5.195-1.676 C1.93,26.43,2.696,24.995,5.83,23.616z" />
                </svg>
            </button>
            <button class="footer-button" onclick="window.location.href='https://www.instagram.com/callmeentris/';">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px" height="24px">
                    <path
                        d="M 16.5 5 C 10.159 5 5 10.159 5 16.5 L 5 31.5 C 5 37.841 10.159 43 16.5 43 L 31.5 43 C 37.841 43 43 37.841 43 31.5 L 43 16.5 C 43 10.159 37.841 5 31.5 5 L 16.5 5 z M 34 12 C 35.105 12 36 12.895 36 14 C 36 15.104 35.105 16 34 16 C 32.895 16 32 15.104 32 14 C 32 12.895 32.895 12 34 12 z M 24 14 C 29.514 14 34 18.486 34 24 C 34 29.514 29.514 34 24 34 C 18.486 34 14 29.514 14 24 C 14 18.486 18.486 14 24 14 z M 24 17 A 7 7 0 1 0 24 31 A 7 7 0 1 0 24 17 z" />
                </svg>
            </button>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>